node_modules/
.idea/

.vscode/

dist/

exports/

index.html

templates/toc-template.html

.pnpm-store

tests/unit/coverage/

tests/unit/.nyc_output/

tests/unit/node_modules/

tests/unit/dist/

filenameStore.json

markdown/
!tests/unit/testFiles/markdown/

.env
!tests/unit/.env
